body {
  background-color: #c2fdff;
}
h1 {
  color: #050047;
  font-family: monospace;
}
p {
  color: #030029;
  font-family: monospace;
}
h2 {
	color: #160029;
	font-family: monospace;}
	label {
  color: #050047;
  font-family: monospace;
}